@media (min-width: 800px) {
  button {
    width: 25%;
  }

  /* nav */
  .nav {
    display: grid;
    grid-template: repeat(1, auto) / repeat(2, 1fr);
    grid-template-areas: "start final";
    margin: 8px;
  }
  .logo {
    display: flex;
    align-items: center;
    grid-area: start;
  }

  #expand-toggle {
    visibility: none;
    background: #fff;
  }
  .expandable {
    display: flex;
    flex-direction: start;
    grid-area: final;
    background: #fff;
  }
  .fa-bars {
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
  }
  ul li {
    margin-right: 0;
  }

  /* podcast */

  .podcast {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, 1fr);
    grid-template-areas:
      "start . "
      "start2  final2"
      "start3  final3";
    gap: 1rem;
  }
  #podcast1 {
    grid-area: start2;
  }
  #podcast2 {
    grid-area: final2;
  }
  #podcast3 {
    grid-area: start3;
  }
  #podcast4 {
    grid-area: final3;
  }

  .gradient {
    width: 100%;
    height: 60rem;
    position: absolute;
    clip-path: polygon(0 4%, 100% 0, 100% 91%, 0 100%);
    background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    z-index: -999;
  }
  /* cellphone */
  .cellphone {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
  }
  .cellphone-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  /* invited */
  .invited {
    display: grid;
    grid-template: auto 1fr 1fr / repeat(3, 1fr);
    grid-template-areas:
      "start . . "
      "start2 center2 final2 "
      "start3 center3 final3 ";
    align-items: stretch;
    justify-items: stretch;
  }
  .invited img:nth-of-type(1) {
    grid-area: start2;
  }
  .invited img:nth-of-type(2) {
    grid-area: center2;
  }
  .invited img:nth-of-type(3) {
    grid-area: final2;
  }
  .invited img:nth-of-type(4) {
    grid-area: start3;
  }
  .invited img:nth-of-type(5) {
    grid-area: center3;
  }
  .invited img:nth-of-type(6) {
    grid-area: final3;
  }
  /* topics */
  .topics {
    display: grid;
    grid-template: auto 1fr / repeat(4, 1fr);
    grid-template-areas:
      "start start . . "
      "start2 left right final2 ";
    align-items: center;
    justify-items: center;
  }
  .topics h2 {
    grid-area: start;
    justify-self: self-start;
  }
  .topics div:nth-of-type(1) {
    grid-area: start2;
  }
  .topics div:nth-of-type(2) {
    grid-area: left;
  }
  .topics div:nth-of-type(3) {
    grid-area: right;
  }
  .topics div:nth-of-type(4) {
    grid-area: final2;
  }
  /* news */
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .gradient2 {
    width: 100%;
    height: 15rem;
    position: absolute;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    z-index: -999;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* .footer p {
      margin-bottom: 0;
    } */
  .footer-social-media a {
    margin-right: 1rem;
    text-decoration: none;
  }
}
